:root {
    --accent: #ccff6b;
    --bg-main: #062633;
    --greenLight: #0f5774;
    --greenDark: #0c181d;
    --grey: #c6cce5;
    --clr-bg: hsl(198, 41%, 8%);
}

[data-theme="light"] {
    --accent: #0b9f9f;
    --bg-main: #ecedf3;
    --greenLight: #0f5774;
    --greenDark: #0c181d;
    --grey: #575659;
    --clr-bg: #fff;
}

.text1 {
    color: var(--grey);
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, #my-navbar {
    background: var(--bg-main);
    font-family: 'Montserrat Alternates', sans-serif;
}

[data-theme="light"] body {
    background: #f1f1f1;
}

a.navbar-brand:hover {
    color: var(--accent);
}

header {
    position: relative;
}

#hero {
    background: var(--bg-main);
    position: relative;
    min-height: calc(100vh - 48px);
    padding: 0 4%;
}

@media (min-width: 768px) {
    #hero {
        min-height: calc(100vh - 74px);
        padding: 0 20px;
    }
}

header h1 {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0;
    line-height: 80%;
    padding: 1rem;
    font-size: 5.5vw;
}

.fadeInUp {
    animation-name: fadeInUp;
    animation-duration: 1.25s;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0)
    }

    to {
        opacity: 1;
        transform: none
    }
}

header #FS_dev {
    z-index: 99;
}

header p {
    display: inline-block;
    position: relative;
    font-size: 3.75vw;
    white-space: nowrap;
    overflow: hidden;
    padding-right: .5rem;
}

header #hello p {
    animation: typing 1.5s steps(10) forwards;
    margin-bottom: 0;
    z-index: 99;
}

header #FS_dev p {
    animation: typing 3.5s steps(20) forwards;
    z-index: 99;
}

header p::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 60%;
    top: 50%;
    left: 0;
    border-right: 2px solid;
    animation: cursor .5s step-end infinite alternate;
    transform: translateY(-50%);
}

@keyframes typing {
    0% {
        width: 0;
    }

    100% {
        width: 100%
    }
}

@keyframes cursor {
    0%, 100% {
        border-right: 2px solid transparent;
    }

    50% {
        border-right: 2px solid var(--accent);
    }
}

.hero-top {
    width: 100%;
    padding: 10% 0 5%;
    margin: 0 auto;
    position: relative;
}

@media (min-width: 576px) {
    .hero-top {
        width: 85%;
        position: unset;
    }
}

@media (min-width: 768px) {
    .hero-top {
        max-width: 2000px;
        padding: 100px 0 20px;
    }
}

.hero-socials {
    z-index: 100;
}

.hero-socials .social_icons i {
    font-size: .75rem;
    padding: .25rem;
    font-style: normal;
}

@media (min-width: 768px) {
    .hero-socials .social_icons i {
        font-size: 1rem;
    }

    .hero-socials .social_icons:last-child i {
        font-size: .8rem;
        font-weight: bold;
    }
}

.hero-socials {
    padding-right: 3rem;
}

@media (min-width: 576px) {
    .hero-socials {
        position: fixed;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 50px;
        padding-right: 0;
    }
}

.hero-btm {
    z-index: 99;
}

.hero-btm h6 {
    font-size: .75rem;
    line-height: inherit;
}

@media (min-width: 576px) {
    .hero-btm h6 {
        font-size: 1rem;
    }
}

.text-clip {
    display: inline;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px var(--accent);
    z-index: 99;
}

@media (min-width: 768px) {
    .text-clip {
        -webkit-text-stroke: 2px var(--accent);
    }
}

[data-theme="light"] .text-clip {
    display: inline;
    background: var(--accent);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#me {
    max-width: 200px;
    border-radius: 50%;
    z-index: 99;
    position: relative;
    width: 100%;
    margin-top: 1.5rem;
}

@media (min-width:576px) {
    #me {
        max-width: 300px;
    }
}

@media (min-width:768px) {
    #me {
        max-width: 500px;
        margin-top: 0;
    }
}

#me img.profile-pic {
    border-radius: 50%;
    width: 100%;
    max-width: 500px;
}

.blob1 {
    position: absolute;
    top: -15%;
    left: -10%;
    transform: rotateZ(-80deg);
    z-index: -1;
    opacity: 0.8;
    max-width: 110%;
    animation: spin1 30s linear infinite;
}

.blob2 {
    position: absolute;
    top: -10%;
    left: -10%;
    transform: rotateZ(-150deg);
    z-index: -1;
    opacity: 0.8;
    max-width: 110%;
    animation: spin2 30s linear infinite;
}

@keyframes spin1 {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg)
    }
}

@keyframes spin2 {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(-360deg)
    }
}


#bg-canvas1 {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, var(--bg-main) 0%, var(--greenDark) 80%);
}


[data-theme="light"] #bg-canvas1 {
    background: var(--bg-main);
}

.canvas {
    width: 100%;
    height: 100%;
    top: 74px;
    left: 0;
    overflow: hidden;
}

nav.navbar {
    min-height: 48px;
}

@media (min-width: 768px) {
    nav.navbar {
        min-height: 74px;
    }
}

nav .navbar-collapse {
    position: absolute;
    top: 60px;
    right: 10px;
}

@media (min-width: 768px) {
    nav .navbar-collapse {
        top: 85px;
    }
}

@media (min-width: 992px) {
    nav .navbar-collapse {
        position: unset;
    }
}

nav button {
    background: transparent;
    border: none;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-toggler {
    border: none !important;
    color: transparent !important;
}

.navbar-brand {
    padding: 0;
}

.navbar-brand img {
    width: 24px;
    height: auto;
}

@media (min-width: 768px) {
    .navbar-brand img {
        width: 48px;
        height: auto;
    }
}

.navbar a.navbar-brand:nth-of-type(2) {
    font-size: .85rem;
}

@media (min-width: 768px) {
    .navbar a.navbar-brand:nth-of-type(2) {
        font-size: 1.25rem;
    }
}

.icon {
    font-family: "Anicons Regular", sans-serif;
    font-variation-settings: "TIME"1;
    transition: font-variation-settings 0.4s ease;
    color: var(--accent);
    font-size: 2rem;
}

.icon-close {
    font-family: "Anicons Regular", sans-serif;
    font-variation-settings: "TIME"100;
    transition: font-variation-settings 0.4s ease;
    color: var(--accent);
    font-size: 2rem;
}

.lightmode-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100px;
}

.lightmode-toggle .switch {
    padding: .375rem;
    position: relative;
    display: inline-block;
    width: 80px;
    height: 40px;
    cursor: pointer;
    border-radius: 20px;
}

.lightmode-toggle .switch i {
    color: var(--accent);
    font-size: 1.125rem;
}

.lightmode-toggle .switch input {
    display: none;
}

.lightmode-toggle .slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px;
    box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greenDark), inset -0.2rem -0.2rem 0.5rem var(--greenLight);
    background-color: var(--bg-main);
}

[data-theme="light"] .lightmode-toggle .slider {
    box-shadow: -2px -2px 8px rgba(255, 255, 255, 1),
        -2px -2px 12px rgba(255, 255, 255, 0.5),
        inset -2px -2px 8px rgba(255, 255, 255, 1),
        inset -2px -2px 12px rgba(255, 255, 255, 0.5),
        inset 2px 2px 4px rgba(255, 255, 255, 0.1),
        inset 2px 2px 8px rgba(0, 0, 0, .3),
        2px 2px 8px rgba(0, 0, 0, .3);
    background-color: #ecf0f3;
}

.lightmode-toggle .slider:before {
    position: absolute;
    bottom: 7px;
    left: 10px;
    z-index: 999;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    box-shadow: 0.3rem 0.3rem 0.6rem var(--greenDark), -0.2rem -0.2rem 0.5rem var(--greenLight);
    background-color: var(--bg-main);
    content: "";
    transition: .5s;
}

[data-theme="light"] .lightmode-toggle .slider:before {
    box-shadow: -2px -2px 8px rgba(255, 255, 255, 1),
        -2px -2px 12px rgba(255, 255, 255, 0.5),
        inset 2px 2px 4px rgba(255, 255, 255, 0.1),
        2px 2px 8px rgba(0, 0, 0, .3);
}

.lightmode-toggle .off {
    position: absolute;
    top: 11px;
    right: 14px;
    font-size: .8125rem;
}

.lightmode-toggle .on {
    position: absolute;
    top: 11px;
    left: 14px;
    font-size: .8125rem;
}

.lightmode-toggle input:checked+.slider:before {
    transform: translateX(33px);
}

.neon-button {
    position: relative;
    color: var(--accent);
    text-decoration: none;
    font-size: 1rem;
    display: inline-block;
    cursor: pointer;
    border: var(--accent) 0.125em solid;
    padding: 0.5em 3em;
    border-radius: 0.5em;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
    box-shadow: inset 0 0 0.5em 0 var(--accent), 0 0 0.5em 0 var(--accent);
}

@media (min-width: 768px) {
    .neon-button {
        padding: 0.5em 4.5em;
    }
}

[data-theme="light"] .neon-button {
    text-shadow: none;
    color: #fff;
    box-shadow: none;
    background: var(--accent);
}

.neon-button::before {
    pointer-events: none;
    content: " ";
    position: absolute;
    background: var(--accent);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(1em);
    opacity: 0.7;
}

[data-theme="light"] .neon-button::before {
    opacity: 0
}

.neon-button::after {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em var(--accent);
    opacity: 0;
    background-color: var(--accent);
    z-index: -1;
    transition: opacity 100ms linear;
}

.neon-button:hover, .neon-button:focus {
    color: var(--clr-bg);
    text-shadow: none;
}

.neon-button:hover::before, .neon-button:focus::before, .neon-button:hover::after, .neon-button:focus::after {
    opacity: 1;
}

.segmented-control {
    box-shadow: 0.3rem 0.3rem 0.6rem var(--greenDark), -0.2rem -0.2rem 0.5rem var(--greenLight);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: .5rem;
    justify-content: center;
    flex-wrap: wrap;
    width: fit-content;
    background: var(--bg-main);
}

@media (min-width: 992px) {
    .segmented-control {
        margin-inline: unset;
        flex-direction: row;
    }
}

[data-theme="light"] .segmented-control {
    box-shadow: -2px -2px 8px rgba(255, 255, 255, 1),
        -2px -2px 12px rgba(255, 255, 255, 0.5),
        inset -2px -2px 8px rgba(255, 255, 255, 1),
        inset -2px -2px 12px rgba(255, 255, 255, 0.5),
        inset 2px 2px 4px rgba(255, 255, 255, 0.1),
        inset 2px 2px 8px rgba(0, 0, 0, .3),
        2px 2px 8px rgba(0, 0, 0, .3);
    background-color: #ecf0f3;
}

.segmented-control input {
    display: none;
}

.segmented-control>input:checked+label {
    transition: all 0.5s ease;
    color: var(--accent);
}

.segmented-control__tab {
    width: 6.8rem;
    height: 2.3rem;
    font-size: 1.0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--grey);
    transition: all 0.5s ease;
}

.segmented-control__tab:hover, footer a:hover {
    color: var(--greenLight);
}

.segmented-control input+label {
    position: relative;
}

.segmented-control input+label::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 0.8rem;
    box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greenDark), inset -0.2rem -0.2rem 0.5rem var(--greenLight);
    pointer-events: none;
    opacity: 0;
}

[data-theme="light"] .segmented-control input+label::before {
    box-shadow: -2px -2px 8px rgba(255, 255, 255, 1),
        -2px -2px 12px rgba(255, 255, 255, 0.5),
        inset 2px 2px 4px rgba(255, 255, 255, 0.1),
        2px 2px 8px rgba(0, 0, 0, .3);
}

.segmented-control input:checked+label::before {
    opacity: 1;
    transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.section_title {
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 1.5rem;
}

@media (min-width: 768px) {
    .section_title {
        font-size: 2.5rem;
    }
}

#aboutme {
    background: linear-gradient(to bottom, #0c181d, #0e232c, #0f2f3c, #0e3b4d, #0b475f);
    min-height: calc(100vh - 48px);
    scroll-margin-top: 48px;
    position: relative;
    overflow-x: hidden;
    z-index: -1;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@media (min-width: 768px) {
    #aboutme {
        min-height: calc(100vh - 74px);
        scroll-margin-top: 74px;
    }
}

[data-theme="light"] #aboutme {
    background: var(--bg-main);
}

#aboutme .background-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#aboutme::-webkit-scrollbar {
    display: none;
}

#aboutme .aboutme-content {
    width: 100%;
    max-width: 950px;
    margin: auto;
}

#aboutme .aboutme-content #aboutme__text {
    color: var(--grey);
    font-size: .75rem;
}

@media (min-width: 768px) {
    #aboutme .aboutme-content #aboutme__text {
        font-size: 1rem;
    }
}

#aboutme__text p {
    font-size: larger;
}

#aboutme__text, .section_title {
    position: relative;
    z-index: 99;
}

#aboutme__sticky {
    color: var(--accent);
}

#aboutme .logo {
    width: 90px;
    height: 90px;
    margin-left: .5rem;
    margin-right: .5rem;
}

#php {
    display: flex;
    align-items: center;
}

#projects__head {
    color: var(--accent);
}

#container__projects {
    position: relative;
    overflow: hidden;
    min-height: calc(100vh - 48px);
    scroll-margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    #container__projects {
        min-height: calc(100vh - 74px);
        scroll-margin-top: 74px;
    }
}



#container__projects::before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    background-image: url(../css/cyber-bg-mb.webp);
    opacity: 0.7;
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 100%;
    /* transform: scale(2); */
    /*     -webkit-transform: scale(2);*/
    /* transform-origin: center; */
    /*     -webkit-transform-origin: center;*/
    /* animation: spin 150s linear infinite; */
    /*     -webkit-animation: spin 150s linear infinite;*/
}

@media (min-width: 576px) {
    #container__projects::before {
        background-image: url(../css/cyber-bg.webp);
        background-repeat: no-repeat;
        background-size: cover;
    }
}

[data-theme="light"] #container__projects::before {
    opacity: 0.8;
}

#container__projects::after {
    content: " ";
    position: absolute;
    left: 0;
    z-index: -1;
    opacity: 1;
    width: 100%;
    height: 100%;
    background: rgb(11, 71, 95);
    background: linear-gradient(180deg, rgba(11, 71, 95, 1) 0%, rgba(11, 71, 95, 0.85) 10%, rgba(11, 71, 95, 0.65) 20%, rgba(11, 71, 95, 0.50) 50%, rgba(11, 71, 95, 0.65) 80%, rgba(11, 71, 95, 0.85) 90%, rgba(11, 71, 95, 1) 100%);
}

[data-theme="light"] #container__projects::after {
    content: " ";
    position: absolute;
    left: 0;
    z-index: -1;
    opacity: 1;
    width: 100%;
    height: 100%;
    background: rgb(236, 237, 243);
    background: linear-gradient(180deg, rgba(236, 237, 243, 1) 0%, rgba(236, 237, 243, 0.80) 10%, rgba(236, 237, 243, 0.5) 20%, rgba(236, 237, 243, 0.30) 50%, rgba(236, 237, 243, 0.5) 80%, rgba(236, 237, 243, 0.80) 90%, rgba(236, 237, 243, 1) 100%);
}

#container__projects .row {
    max-width: 1500px;
}

#projects {
    justify-content: center;
    margin: 1rem auto;
    width: 85%;
    flex-grow: 1;
}

.box {
    background: linear-gradient(135deg, #1cbed3 0%, #008a9c 100%);
    font-family: 'Nanum Gothic', sans-serif;
    border-radius: 25px 0;
    position: relative;
    overflow: hidden;
}

[data-theme="light"] .box {
    box-shadow: 5px 5px 10px 0 rgba(119, 116, 116, 0.7);
}

.box:hover {
    border-radius: 0 25px;
    transition: all 0.25s linear;
}

.box img {
    width: 100%;
    height: auto;
    transition: all 0.25s linear;
}

.box .inner-content {
    color: #fff;
    text-align: center;
    width: 70%;
    opacity: 0;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    top: 70%;
    left: 50%;
    transition: all 600ms ease;
}

.box:hover img {
    opacity: 0.1;
    transform: scale(1.25);
}

.box:hover .inner-content {
    opacity: 1;
    top: 50%;
}

.box:before, .box:after, .box .box-content:before, .box .box-content:after {
    content: "";
    background: #fff;
    width: 50%;
    height: 4px;
    transform: scaleX(0);
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 1;
    transition: all 600ms ease;
}

.box:after {
    top: auto;
    bottom: 15px;
    left: auto;
    right: 15px;
}

.box .box-content:before, .box .box-content:after {
    width: 4px;
    height: 50%;
    transform: scaleY(0);
}

.box .box-content:after {
    left: auto;
    right: 15px;
    top: auto;
    bottom: 15px;
}

.box:hover:before, .box:hover:after, .box:hover .box-content:before, .box:hover .box-content:after {
    transform: scale(1);
}

.box .title {
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0 0 3px;
}

.box .post {
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0 0 12px;
    display: block;
}

.project_links {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.project_links li {
    display: inline-block;
    margin: 0 4px;
}

.project_links li a {
    background: transparent;
    color: #fff;
    font-size: 1rem;
    line-height: 2rem;
    height: 2rem;
    width: 5rem;
    border: 2px solid #fff;
    border-radius: 10px 0 10px 0;
    display: block;
    transition: all 0.3s;
    text-decoration: none;
}

@media only screen and (max-width: 576px) {
    .project_links li a {
        font-size: 0.67rem;
        line-height: 1.5rem;
        height: 1.5rem;
        width: 3.5rem;
    }

    .box .title {
        font-size: .7rem;
        font-weight: 600;
    }

    .box .post {
        font-size: .6rem;
    }
}

.project_links li a:hover {
    color: #008a9c;
    background: #fff;
    border-radius: 0 10px 0 10px;
}

@media only screen and (max-width:990px) {
    .box {
        margin: 0 0 30px;
    }
}

.my_modal {
    background: rgba(0, 0, 0, 0.404);
}

.my_modal-content {
    background: #0f5774ad;
}

.modal-body img {
    transition: transform 200ms linear;
}

.modal-body img:hover {
    transform: scale(1.25);
}

.language {
    color: var(--accent);
    font-size: 1rem;
    line-height: 2rem;
    height: 2rem;
    padding: 0 0.5em;
    border: 2px solid var(--accent);
    border-radius: 10px 0 10px 0;
}

h4 {
    font-family: 'Montserrat Subrayada', sans-serif;
}

#container__contact {
    background-image: linear-gradient(to bottom, #0b475f, #0e3b4d, #0f2f3c, #0e232c, #0c181d);
    color: var(--accent);
    min-height: calc(100vh - 78px);
    scroll-margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    #container__contact {
        min-height: calc(100vh - 104px);
        scroll-margin-top: 74px;
    }
}

[data-theme="light"] #container__contact {
    background: var(--bg-main);
}


#container__contact .row {
    max-width: 1200px;
}

.form__input {
    height: 3rem;
}

textarea, .form__input {
    width: 100%;
    margin-bottom: 1rem;
    background: linear-gradient(var(--bg-main), var(--greenLight));
    color: var(--grey);
    border-radius: .5rem;
    border: none;
    padding-left: 1rem;
    font-size: 1.4rem;
    -webkit-box-shadow: inset 0.2rem 0.2rem 0.2rem var(--greenDark), inset -0.2rem -0.2rem 0.2rem var(--greenLight);
    box-shadow: inset 0.2rem 0.2rem 0.2rem var(--greenDark), inset -0.2rem -0.2rem 0.2rem var(--greenLight);
}

[data-theme="light"] textarea, [data-theme="light"] .form__input {
    box-shadow: none;
    background: var(--bg-main);
    border: 1px solid var(--grey);
}


@media (min-width: 768px) {
    [data-theme="light"] textarea, [data-theme="light"] .form__input {
        box-shadow: -2px -2px 8px rgba(255, 255, 255, 1),
            -2px -2px 12px rgba(255, 255, 255, 0.5),
            inset -2px -2px 8px rgba(255, 255, 255, 1),
            inset -2px -2px 12px rgba(255, 255, 255, 0.5),
            inset 2px 2px 4px rgba(255, 255, 255, 0.1),
            inset 2px 2px 8px rgba(0, 0, 0, .3),
            2px 2px 8px rgba(0, 0, 0, .3);
        background: var(--bg-main);
    }
}


textarea {
    padding-top: .5rem;
}


textarea:placeholder-shown, .form__input:placeholder-shown {
    outline: none;
}

textarea:not(:placeholder-shown):valid,
.form__input:not(:placeholder-shown):valid {
    outline: 1px solid green;
    border-radius: .5rem;
}

textarea:not(:placeholder-shown):invalid,
.form__input:not(:placeholder-shown):invalid {
    outline: 1px solid red;
    border-radius: .5rem;
}

textarea::placeholder, .form__input::placeholder {
    color: #8B818C;
    font-size: 14px;
    vertical-align: middle;
}

form button {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    box-shadow: 0.3rem 0.3rem 0.6rem #070e11, -0.2rem -0.2rem 0.5rem var(--greenLight);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    cursor: pointer;
    color: #8B818C;
    transition: all 0.5s ease;
    border: none;
    background: var(--bg-main)
}

[data-theme="light"] form button {
    box-shadow: -2px -2px 8px rgba(255, 255, 255, 1), -2px -2px 12px rgba(255, 255, 255, 0.5), inset 2px 2px 4px rgba(255, 255, 255, 0.1), 2px 2px 8px rgba(0, 0, 0, .3);
    border: 1px solid var(--grey);
}

form button:active {
    box-shadow: inset 0.2rem 0.2rem 0.5rem #070e11, inset -0.2rem -0.2rem 0.5rem var(--greenLight);
    color: #008a9c;
}

[data-theme="light"] form button:active {
    box-shadow: -2px -2px 8px rgba(255, 255, 255, 1), -2px -2px 12px rgba(255, 255, 255, 0.5), inset -2px -2px 8px rgba(255, 255, 255, 1), inset -2px -2px 12px rgba(255, 255, 255, 0.5), inset 2px 2px 4px rgba(255, 255, 255, 0.1), inset 2px 2px 8px rgba(0, 0, 0, .3), 2px 2px 8px rgba(0, 0, 0, .3);
    background-color: #ecf0f3;
}

form button:hover {
    color: var(--accent);
}

#background-wrap {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

/* KEYFRAMES */

@-webkit-keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }

    100% {
        margin-top: -100%;
    }
}

@-moz-keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }

    100% {
        margin-top: -100%;
    }
}

@keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }

    100% {
        margin-top: -100%;
    }
}

@-webkit-keyframes sideWays {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: 50px;
    }
}

@-moz-keyframes sideWays {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: 50px;
    }
}

@keyframes sideWays {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: 50px;
    }
}

/* ANIMATIONS */

.x1 {
    -webkit-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -moz-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
    animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
    left: 5%;
    top: 15%;
    transform: scale(0.7);
}

.x2 {
    -webkit-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -moz-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
    animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
    left: 5%;
    top: 80%;
    transform: scale(0.6);
}

.x3 {
    -webkit-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -moz-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
    animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
    left: 10%;
    top: 40%;
    transform: scale(0.8);
}

.x4 {
    -webkit-animation: animateBubble 23s linear infinite, sideWays 3s ease-in-out infinite alternate;
    -moz-animation: animateBubble 23s linear infinite, sideWays 3s ease-in-out infinite alternate;
    animation: animateBubble 23s linear infinite, sideWays 3s ease-in-out infinite alternate;
    left: 20%;
    top: 0;
    transform: scale(0.5);
}

.x5 {
    -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -moz-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
    animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
    left: 30%;
    top: 50%;
    transform: scale(0.6);
    padding: .5rem;
}

.x6 {
    -webkit-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -moz-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
    animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
    left: 58%;
    top: 0;
    transform: scale(0.9);
}

.x7 {
    -webkit-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -moz-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
    animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
    left: 65%;
    top: 70%;
    transform: scale(0.75);
    padding: 1rem;
}

.x8 {
    -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
    -moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
    animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
    left: 80%;
    top: 10%;
    transform: scale(0.65);
    padding: .8rem;
}

.x9 {
    -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -moz-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
    animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
    left: 90%;
    top: 50%;
    transform: scale(0.7);
}

.x10 {
    -webkit-animation: animateBubble 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -moz-animation: animateBubble 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
    animation: animateBubble 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
    left: 70%;
    top: 80%;
    transform: scale(0.5);
    padding: .5rem;
}

.x11 {
    -webkit-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -moz-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
    animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
    left: 70%;
    top: 80%;
    transform: scale(0.7);
    padding: .8rem;
}

.x12 {
    -webkit-animation: animateBubble 29s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -moz-animation: animateBubble 29s linear infinite, sideWays 2s ease-in-out infinite alternate;
    animation: animateBubble 29s linear infinite, sideWays 2s ease-in-out infinite alternate;
    left: 60%;
    top: 90%;
    transform: scale(0.75);
}

.x13 {
    -webkit-animation: animateBubble 30s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -moz-animation: animateBubble 30s linear infinite, sideWays 2s ease-in-out infinite alternate;
    animation: animateBubble 30s linear infinite, sideWays 2s ease-in-out infinite alternate;
    left: 40%;
    top: 30%;
    transform: scale(0.9);
}

.x14 {
    -webkit-animation: animateBubble 15s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -moz-animation: animateBubble 15s linear infinite, sideWays 2s ease-in-out infinite alternate;
    animation: animateBubble 15s linear infinite, sideWays 2s ease-in-out infinite alternate;
    left: 25%;
    top: 0;
    transform: scale(0.85);
    padding: .5rem;
}

/* OBJECTS */

.bubble {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0 10px 30px 5px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0 10px 30px 5px rgba(255, 255, 255, 1);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0 10px 30px 5px rgba(255, 255, 255, 1);
    height: 15rem;
    position: absolute;
    width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bubble:after {
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80ffffff', endColorstr='#00ffffff', GradientType=1);
    border-radius: 50%;
    box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
    content: "";
    height: 180px;
    left: 10px;
    position: absolute;
    width: 180px;
}

/* END */

a.myCV_qr {
    text-decoration: none;
    position: relative;
}

.myCV2 {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: contain;
    opacity: 0;
    transition: opacity .2s;
    margin: 0 auto;
}

a.myCV_qr:hover .myCV2 {
    opacity: 1;
}

[data-theme="light"] .myCV {
    opacity: 0;
    transition: opacity .2s;
}

[data-theme="light"] .myCV2 {
    opacity: 1;
}

[data-theme="light"] a.myCV_qr:hover .myCV {
    opacity: 1;
    z-index: 2;
}

a.myCV_qr span {
    font-size: .75rem;
}

a.myCV_qr img {
    width: 80px;
    height: 80px;
}

@media (min-width:768px) {
    a.myCV_qr span {
        font-size: 1rem;
    }

    a.myCV_qr img {
        width: 100px;
        height: 100px;
    }
}

.social_icons {
    color: var(--accent);
    text-decoration: none;
}

.social_icons:hover {
    color: #0dbbbb;
}

[data-theme="light"] .social_icons:hover {
    color: var(--greenLight);
}

@media only screen and (max-width:768px) {
    .social_icons i {
        font-size: 2.5rem;
    }

    .social-medias p {
        font-size: 1rem;
    }
}

footer {
    color: var(--grey);
    font-size: .75rem;
    background: var(--greenDark);
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 30px;
    line-height: 30px;
    padding-inline: 15px;
    position: relative;
    z-index: 999;
}

@media (min-width: 768px) {
    footer {
        font-size: 1rem;
    }
}

[data-theme="light"] footer {
    background: var(--bg-main);
}

footer a {
    text-decoration: none;
    color: var(--accent);
}